{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block header %} 
<h1> About Me </h1>
{% endblock %}

{% block content %}
I'm a 3rd year student attending the University of Windsor, where I am in the process of obtaining 2 honours bachelor's degrees, one in Computer Science, and the other in Mathematics. I'm an involved student, and am currently an Undergraduate Representative for the School of Computer Science, where I work closely with faculty on issues relevant to the school and its students. I also sit as a 3rd year representative in the student run Computer Science Society which hosts events for Computer Science Students. 
<br>
Another thing I enjoy is competitions and Hackathons, which you can read more about on my <a href="/events">Events</a> page. 
<br>
{% endblock %}

<!-- God I'm bad at writing about myself -->