{% extends 'base.html' %}

{% block title %}Projects{% endblock %}
</style>
{% block header %} 
<h1> Projects </h1>
{% endblock %}

{% block content %}
Clicking a project name will bring you to the github repo for that project, whenever available.  


<h2> <a href="https://github.com/WorleyD/Conway">Conway's Game of Life</a></h2>
A simple cellular automata following Conway's well-known rules. This project was meant as an introduction to simulation programs. The program was written using only the <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">wikipedia page</a> for Conway's Game of Life for reference, this was done purely as a fun personal challenge. It also incorporates the PySimpleGUI library to make a small display window for the simulation.

<h2> HTTP-Based Botnet </h2>
A python botnet written by another student and I for my Network Security class. This botnet allows the setup of multiple C&C centers through the use of database authentication. Once authenticated, the C&C server can download and upload files, as well as execute code on remote machines. This was a purely educational project, and the code is currently private.  

<h2><a href="https://github.com/WorleyD/worley.dev">This Site</a></h2>
As mentioned on the homepage, this site was a quick personal project to get familiar with Flask and basic web deployment. I learned a bit about web devlopment doing this as well and will be keeping the site updated as my experience increases. 

<h2><a href="https://github.com/WorleyD/cs311-project">CourseFinder</a></h2>
This project was the final project for my Introduction to Software Engineering class. I, and 3 other students, created a course information and directory site. This site was created using Django, and had capabilities for rating courses, reviewing courses, rating professors, and saving courses to a user's personal profile. This project had a large focus on database design, as that was a key criteria in getting all the course information presentable. It was created over the course of about 2 weeks, and my contributions were largely to the views and user functionality.

<h2> <a href="https://github.com/WorleyD/-u-brainfuckcompilebot">BF Compiling Reddit Bot</a></h2>
A reddit bot that compiles BF code in the comment where it was called, the reddit bot is unhosted, and the PRAW API it uses is likely long outdated. This project was written in Python as a fun experiment to play with an API. Some testing results of the bot running can be seen on Reddit <a href="https://www.reddit.com/r/BrainFuckCompileBot/comments/78j1nj/new_test/">here</a> and <a href="https://www.reddit.com/r/BrainFuckCompileBot/comments/78ipcg/test/">here</a>.

<br><br><br>
I have a small collection of other scripts hosted on my <a href="https://github.com/WorleyD">github</a>. These are mostly solutions to Kattis problems, and as such are undocumented. 

{% endblock %}