{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block header %} 
<h1> About Me </h1>
{% endblock %}

{% block content %}
My name's David, and I'm a 5th year student attending the University of Windsor, studying towards a double major in Computer Science and Mathematics. I'm an involved student who is always looking to challenge myself and improve. Because of this, I'm a big fan of programming competitions and hackathons, which you can read about on my <a href="/events">Events</a> page. 
<br><br>
Outside of academics I'm a big fan of esports and music (indie rock/pop) and enjoy spending my free time with friends and family. My current plan is to continue my education and obtain a Masters in Computer Science in a discrete math related field. 
<br> <br>
{% endblock %}

<!-- God I'm bad at writing about myself -->