{% extends 'base.html' %}
 
{% block title %}Events{% endblock %}


{% block header %} 
<h1> Events </h1>
{% endblock %}

{% block content %}
I try to attend a lot of events, both competitive and educational, below is a list of notable events, starting from the most recent. Links to event pages will be provided when available, just click the event name.

<h1> Competitions</h1>
<h2><a href="http://acm-ecna.ysu.edu/PastResults/2019/home.html">ICPC 2019</a></h2>
 - Placed 1st locally, out of 12 teams <br>
 - Placed 27th in the ECNA Regionals out of 115 teams <br>


<h2><a href="https://2019.csgames.org">CS Games 2019</a></h2>
 - Placed 4th in Functional Programming, out of 28 teams <br>
 - Participated in the CSE Security CTF competition <br>

<h2><a href="http://acm-ecna.ysu.edu/PastResults/2018/home.html">ICPC 2018</a></h2>
- Placed 1st locally, out of 12 teams <br>
- Places 29th in the ECNA Regionals, out of 135 teams <br>

<h2> <a href="http://acm-ecna.ysu.edu/PastResults/2017/home.html">ACM ICPC 2017</a></h2>
- Placed 1st locally, out of 11 teams <br>
- Placed 79th in the ECNA Regionals, out of 134 teams <br>
<br>

<h1> Hackathons </h1>
<h2> <a href="https://www.deltahacks.com/">DeltaHacks VI</a></h2>
- Worked with a team of 3 other students to develop a personal wellness app in 72 hours

<h1> Conferences and other Events</hl>

<h2><a href="https://wedevfest.com/">Windsor Essex DevFest 2019</a></h2>

<h2><a href="https://www.meetup.com/GDG-Windsor/events/257840805/">Windsor Essex DevFest 2018</a></h2>

<br>
<h3> Upcoming Events </h3>
	- None right now! <br>
<br>
<br>
{% endblock %}