{% extends 'base.html' %}

{% block title %}Experience{% endblock %}


{% block header %} 
<h1> Experience </h1>
{% endblock %}

{% block content %}
<h2> Software Developer - Amika Mobile </h2>
<p> July 2019 - Present </p>
- Plan and develop an API update for a multi-company project <br>
- Develop, test, and maintain Java code for a critical company product <br/>
- Demo a product for interested clients <br>
<br>
<h2> Research Assistant - University of Windsor </h2>
<p> Sept. 2018 - Apr. 2020 </p><br>
- Work with a close team to research congestion control in vehicle networks <br>
- Develop traffic models in XML for simulation with SUMO <br>
- Link these traffic models with Veins and Omnet++ to accurately track and simulate network congestion <br>
<br>
<h2> Teaching Assistant - University of Windsor </h2>
<p>Sept. 2017 - Present </p> 
- Assist professors with the marking of assignments, and proctoring of tests <br>
- Assist in running lab to assist students with course assignments <br>
- Hold office hours to help students in a one on one environment <br>
<br>
<h2> Vice Chair of Finance and Research - CUCSC Organizational Committee</h2>
<p> Nov. 2018 - Aug. 2019 </p>
- Handle all financial matters, including budgeting, ledger tracking, and transfering of funds for the Canadian Undergraduate Computer Science Conference.<br>
- Handle all research related matters, including creating, launching, and overseeing the Call for Papers <br>
- Work closely with conference Chair and other Vice Chairs to coordinate the event and provide a good experience to attendees<br>
<br>
<h2> Undergraduate Representative - University of Windsor </h2>
<p> Sept. 2018 - Sept. 2019</p>
- Work directly with faculty to discuss and vote on issues relevant to the school and its students <br>
- Bring forward undergraduate student issues and concerns to be dealt with <br>
<br>

{% endblock %}