{% extends 'base.html' %}
 
{% block title %}Events{% endblock %}


{% block header %} 
<h1> Events </h1>
{% endblock %}

{% block content %}
I try to attend a lot of events, both competitive and educational, below is a list of notable events, starting from the most recent. Links to event pages will be provided when available, just click the event name.

<h1> Competitions</h1>


<h2><a href="http://acm-ecna.ysu.edu/PastResults/2018/home.html">ICPC 2018</a></h2>
- Placed 1st locally, out of 12 teams <br>
- Places 29th in the ECNA Regionals, out of 135 teams <br>

<h2> <a href="http://acm-ecna.ysu.edu/PastResults/2017/home.html">ACM ICPC 2017</a></h2>
- Placed 1st locally, out of 11 teams <br>
- Placed 79th in the ECNA Regionals, out of 134 teams <br>
<br>

<h1> Conferences and other Events</hl>

<h2><a href="https://www.meetup.com/GDG-Windsor/events/257840805/">Windsor Essex DevFest 2019</a></h2>

<br>
<h3 style="color:#e8e8e8"> Upcoming Events </h3>

- <a href="https://2019.csgames.org">CS Games 2019</a> (March 22nd-25th)  
<br>
<br><br>
- <a href="http://www.cucsc.ca">Canadian Undergraduate Computer Science Conference</a> (July 25th-27th)
<br>
<br>
{% endblock %}